<strong>Your restaurant has been added</strong>

<p><%= @restaurant.name %></p>

Super skills eh?  And I mean, check the email
address this is sent from !!

Also, I am sending this from my code !!

BOOM

